@font-face{
        font-family: bellota;
        src: url("./Bellota/Bellota-Regular.ttf");
}

@font-face{
        font-family: bad;
        src: url("./Bad_Script/BadScript-Regular.ttf");
}

@font-face{
        font-family: mont;
        src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}


:root {
  --color1: #2a2438;
  --color2: #352f44;
  --color3: #5c5470;
  --color4: #dbd8e3;
}


body{
	margin: 0px;
	background-color:var(--color1); 
	color: var(--color4);
	font-family: mont,helvetica;
        box-sizing: border-box;
        overflow-x: hidden;
}

header{
	display: flex;
	flex-direction: column;
	font-family: bellota;
	align-items: center;
	justify-content: center;
	height: 150px;
}

#cv{
	color: #6e76df;
	background-color: var(--color1);
	padding: 5px 12px;
	font-size: 1.2em;
	border: none;
	border: var(--color3) solid 1px;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	
}


.nav1{
	display: flex;
	margin-bottom: 20px;
}

.nav1>a{
	text-decoration: none;
	color: var(--color4);
}

.nav1 p{
	margin: 0px;
	display: flex;
	width: 25vw;
	border: var(--color4) solid;
	border-width: 1px 0px;
	align-items: center;
	height: 50px;
	justify-content: center;
}

.nav2{
	display: flex;
	margin-top: 50px;
}

.nav2>a{
	display: flex;
	text-decoration: none;
	color: var(--color4);
	height: 50px;
	border: var(--color4) solid;
	border-width: 1px 0px;
	align-items: center;
}

.nav2 i{
	display: inline-block;
	text-align: center;
	font-size: 2em;
	width: 20vw;
}

.grid_container{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px 10px;
	width: 60vw;
	margin: 10px auto;
	justify-content: center;
}

.grid_container > div{
	min-height: 500px;
	min-width: 385px;
	max-width: 400px;
	
	border: var(--color3) solid 1px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 2px black;
}

.nocurrent:hover{
	color: var(--color4);
	background-color: var(--color3);
	cursor: pointer;
}
.current:hover{
	cursor: pointer;
}

.current{
	color: var(--color1);
	background-color: var(--color4);
}

.about{
	text-align: center;
}
.about>img{
	display: block;
	height: 180px;
	margin: 10px auto;
	margin-top: 30px;
	border-radius: 50%;
}
.about>p{
	margin: 0px 20px;
	padding-top: 20px;
}

.research_cards{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.research_cards>div{
	margin: auto;
	margin-top: 20px;
	display: flex;
	opacity: 0.75;
	border: var(--color3) solid 1px;
	width: 60vw;
	max-width: 800px;
	height: 25vh;
	min-height: 180px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 2px black;
	opacity: 1;
}


.research_cards>div>img{
	height: 100%;
	aspect-ratio: 1/1;
}

.research_cards>div>p{
	display: inline-block;
	text-align: center;
	padding: 20px;
	padding-top: 10px;
}

.research_cards>div>p>a{
	display: inline-block;
	text-decoration: none;
	color: #6e76df;
	font-size: 1.1em;
	border: var(--color3) solid 1px;
	padding: 5px;
	border-radius: 8px;
	margin-top: 10px;
	
}



.card_container{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 5px;
	justify-content: center;
	padding: 40px;
	
}

@keyframes card-flip{
	0% {transform: rotateY(0deg);}
	50% {transform: rotateY(90deg)}
	100% {transform: rotateY(180deg)}
}

.game_controls{
	text-align: center;
}
.game_controls>span{
	margin: auto;
	padding: 10px;
}

#reset{
	 color: #6e76df;
	 cursor: pointer; 
}




.card_container>div{
	border: var(--color4) solid 1px;
	height: 8vw;
	width: 8vw;
	margin: 0px;
	cursor: pointer;
	
}

.card_anim{
	animation-name: card-flip;
	animation-duration: 1.5s;
}



#wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 50px;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

.gallery_button{
	position: relative;
	top: 10px;
	height: 50px;
	border:none;
}

#prev,#next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--color4);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

#prev {
  bottom: -10px;
  left: 30vw;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  bottom: -10px;
  right: 30vw;
  transform: translate(-50%, -50%);
}



#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: var(--color1);
}

#gallery{
	margin-top: 50px;
	text-align: center;
	font-family: bad;
}


.contact_me{
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 600px;
	width: 50vw;
	max-width: 400px;
	border: var(--color3) solid 1px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px black;
	overflow: hidden;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	
}

.game{
	text-align: center;
}

.game>h3{

	font-family: bellota;
	font-style: none;
	padding: 0px 2px;
	padding-top: 30px;
	padding-bottom: 10px;
	
	
	font-size: 1.3em;
	
}

.game a{
	display:block;
	margin-top: 15px;
	color: #6e76df;
	text-decoration: none;
}

.game>img{
	width: 75%;
}

.contact_me>img{
	height:auto;
	width: 100%;
}

.contact_me>div{
	height: 30%;
	width: 80%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.contact_me>div>div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact_me i{
	font-size: 2em;
}

.contact_me p{
	margin-left: 20px;
}


@media screen and (max-width: 800px){
	.nav1{
		flex-direction: column;
	}
	
	
	.nav1 p{
		width: 100vw;
	}
	.grid_container{
		grid-template-columns: auto;
	}
	.grid_container > div{
		min-width: 90vw;
	}
	.contact_me{
		min-width: 90vw;
		height: 60vh;
	}
	
	.card_container{
		padding-top: 80px;
	}
	
	
	.card_container>div{
		border: var(--color4) solid 1px;
		height: 15vw;
		width: 15vw;
		margin: 0px;
		
	}
	.game_controls{
		font-size: 1.1em;
	}
	.research_cards>div{
		flex-direction: column;
		height: auto;
		width: 80vw;
		box-shadow: 0px 0px 5px 2px black;
	}
	.research_cards>div>img{
		max-height: 200px;
		margin: auto;
		margin-top: 20px;
	}
	.game>img{
		width: 75%;
	}
}


