@font-face{
        font-family: bellota;
        src: url("./Bellota/Bellota-Regular.ttf");
}

@font-face{
        font-family: bad;
        src: url("./Bad_Script/BadScript-Regular.ttf");
}

@font-face{
        font-family: mont;
        src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}


:root {
  --color1: #2a2438;
  --color2: #352f44;
  --color3: #5c5470;
  --color4: #dbd8e3;
}


body{
	margin: 0px;
	background-color:var(--color1); 
	color: var(--color4);
	font-family: mont,helvetica;
        box-sizing: border-box;
        overflow-x: hidden;
}

header{
	display: flex;
	flex-direction: column;
	font-family: bellota;
	align-items: center;
	justify-content: center;
	height: 150px;
}

header>img{
	width: 45px;
	height: 45px;
	display: none;
}




#cv{
	color: #6e76df;
	background-color: var(--color1);
	padding: 5px 12px;
	font-size: 1.2em;
	border: none;
	border: var(--color3) solid 1px;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	
}


.nav1{
	display: flex;
	margin-bottom: 20px;
}

.nav1>a{
	text-decoration: none;
	color: var(--color4);
}

.nav1 p{
	margin: 0px;
	display: flex;
	width: 25vw;
	border: var(--color4) solid;
	border-width: 1px 0px;
	align-items: center;
	height: 50px;
	justify-content: center;
}

.nav2{
	display: flex;
	margin-top: 50px;
}

.nav2>a{
	display: flex;
	text-decoration: none;
	color: var(--color4);
	height: 50px;
	border: var(--color4) solid;
	border-width: 1px 0px;
	align-items: center;
}

.nav2 i{
	display: inline-block;
	text-align: center;
	font-size: 2em;
	width: 20vw;
}

.grid_container{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px 10px;
	width: 60vw;
	margin: 10px auto;
	justify-content: center;
}

.grid_container > div{
	min-height: 500px;
	min-width: 385px;
	max-width: 400px;
	
	border: var(--color3) solid 1px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 2px black;
}

.nocurrent:hover{
	color: var(--color4);
	background-color: var(--color3);
	cursor: pointer;
}
.current:hover{
	cursor: pointer;
}

.current{
	color: var(--color1);
	background-color: var(--color4);
}

.about{
	text-align: center;
}
.about>img{
	display: block;
	height: 180px;
	margin: 10px auto;
	margin-top: 30px;
	border-radius: 50%;
	
}
.about>p{
	margin: 0px 20px;
	padding-top: 20px;
}

.research_cards{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.research_cards>div{
	margin: auto;
	margin-top: 20px;
	display: flex;
	opacity: 0.75;
	border: var(--color3) solid 1px;
	width: 60vw;
	max-width: 800px;
	height: 25vh;
	min-height: 180px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 2px black;
	opacity: 1;
}


.research_cards>div>img{
	height: 100%;
	aspect-ratio: 1/1;
}

.research_cards>div>p{
	display: inline-block;
	text-align: center;
	padding: 20px;
	padding-top: 10px;
}

.research_cards>div>p>a{
	display: inline-block;
	text-decoration: none;
	color: #6e76df;
	font-size: 1.1em;
	border: var(--color3) solid 1px;
	padding: 5px;
	border-radius: 8px;
	margin-top: 10px;
	
}



.card_container{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 5px;
	justify-content: center;
	padding: 40px;
	
}

@keyframes card-flip{
	0% {transform: rotateY(0deg);}
	50% {transform: rotateY(90deg)}
	100% {transform: rotateY(180deg)}
}

.game_controls{
	text-align: center;
}
.game_controls>span{
	margin: auto;
	padding: 10px;
}

#reset{
	 color: #6e76df;
	 cursor: pointer; 
}




.card_container>div{
	border: var(--color4) solid 1px;
	height: 8vw;
	width: 8vw;
	margin: 0px;
	cursor: pointer;
	
}

.card_anim{
	animation-name: card-flip;
	animation-duration: 1.5s;
}



#wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 50px;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

.gallery_button{
	position: relative;
	top: 10px;
	height: 50px;
	border:none;
}

#prev,#next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--color4);
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

#prev {
  bottom: -10px;
  left: 30vw;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  bottom: -10px;
  right: 30vw;
  transform: translate(-50%, -50%);
}



#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: var(--color1);
}

#gallery{
	margin-top: 50px;
	text-align: center;
	font-family: bad;
}


.contact_me{
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 600px;
	width: 50vw;
	max-width: 400px;
	border: var(--color3) solid 1px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px black;
	overflow: hidden;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	
}


.contact_me>div{
	display: grid;
	grid-template-columns: 15% 85%;
	column-gap: 0px;
	row-gap: 30px;
	align-items: center;
	margin-top: 40px;
	width: 80%;
	margin-left: auto;
	margin-right: auto; 
	
}

.contact_me>img{
	height:auto;
	width: 100%;
}

.icon{
	text-align: center;
}

.icon>a{
	color: var(--color4);
}

.icon>a:hover{
	color: #6e76df;
}



.griditem>p{
	margin: 0px;
	margin-left: 20px;
	padding-right: 0px;
	 
}

.griditem{
	
	word-wrap: break-word;
}

.contact_me i{
	font-size: 2em;
}



.fractal,.game{
	text-align: center;
}

.fractal>h3,.game>h3{

	font-family: bellota;
	font-style: none;
	padding: 0px 2px;
	padding-top: 30px;
	padding-bottom: 10px;
	
	
	font-size: 1.3em;
	
}
.fractal>p{
	margin: 0px 20px;
}

.game a{
	display:block;
	margin-top: 15px;
	color: #6e76df;
	text-decoration: none;
}

.fractal a{
	color: var(--color4);
}


.game>img{
	width: 75%;
}

.fractal>.fractal_img{
	width: 60%;
}



/*
.contact_me>div>div{
	display: flex;
	justify-content: center;
	align-items: center;
}
*/












.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

.mySlides .img_cnt{

	width: 100vw;
	aspect-ratio: 4/1;
	overflow: hidden;
	align-items: center;
	display: flex;
	justify-content: center;
}

.mySlides img{
	height: 100%;
	width: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  
  
  position: absolute;
  top: 45%;
  width: auto;
  
  
  margin-top: -22px;
  padding: 16px;
  color: var(--color4);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text {
  display: inline-block;
  color: var(--color4);
  margin: none;
  background-color: rgba(0,0,0,0.8);
  font-size: 15px;
  padding: 8px 12px;
  
  /*position: absolute;
  left: 50%;
  bottom: 0px;
  */
  /*text-align: center;*/
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--color4);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.bigpics{
	display: flex;
	margin: auto;
	width: 95%;
	background-color: hsl(258 21.7% 10%);
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 8px 2px black;
}

.bigpics>.img_post{
	display: inline-block;
	width: 35%;
	border: 1px var(--color4) solid;
}

.bigpics img{
	width:100%;
	display: inline;
	padding: 0px 0px;

	
}
.post_head{
	height: 60px;
	padding: 0px 20px;
	display: flex;
}
.post_head>img{
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 10px;
	
}
.post_head>p>span{
	color: var(--color3);
}

.user_post{
	display: inline-block;
	margin-top: 10px;
	padding-left: 10px;
}

.post_foot{
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 0px 20px;
	
}


.post_foot>svg{
	padding-right: 15px;	
}
.react{
	fill: var(--color4);
}
.love_react{
	stroke: var(--color4);
	fill: hsl(258 21.7% 10%);
	cursor: pointer;
}




.bigpics>p{
	display: inline-block;
	color: var(--color3) ;
	width: 60%;
	margin: auto;
	padding: 0px 0px;
	word-break: break-word;
	font-size: 1.5em;
}


.bigpics a{
	text-decoration: none;
	color: #6e76df;
}







@media screen and (max-width: 800px){
	.nav1{
		flex-direction: column;
		max-height: 205px;
		overflow: hidden;
	  	transition: max-height 0.2s ease-out;
	}
	
	header>img{
		display: block;
	}
	
	.fractal>p,.game>p{
		padding: 0px 10px;
	}


	
	.nav1 p{
		width: 100vw;
		border-width: 1px 0px 0px 0px;
	}
	
	.nav1 .contact{
		border-width: 1px 0px 1px 0px;
	}
	
	.grid_container{
		grid-template-columns: auto;
	}
	.grid_container > div{
		min-width: 90vw;
	}
	.contact_me{
		min-width: 90vw;
		max-width: 100%;
		height: 60vh;
	}
	.icon>a{
		color: #6e76df;
	}
	
	.card_container{
		padding-top: 80px;
	}
	
	
	.card_container>div{
		border: var(--color4) solid 1px;
		height: 15vw;
		width: 15vw;
		margin: 0px;
		
	}
	.game_controls{
		font-size: 1.1em;
	}
	.research_cards>div{
		flex-direction: column;
		height: auto;
		width: 80vw;
		box-shadow: 0px 0px 5px 2px black;
	}
	.research_cards>div>img{
		max-height: 200px;
		margin: auto;
		margin-top: 20px;
	}
	.game>img{
		width: 75%;
	}
	.prev,.next{
  		background-color: rgba(0,0,0,0.5);
	}
	.mySlides .img_cnt{

		aspect-ratio: 1.5/1;
		
	}
	.mySlides img{
		width: 100%;
		height: auto;
	}
	
	.bigpics{
		flex-direction: column;
		margin-top: 10px;
		margin-bottom: 10px;
		border: 1px var(--color4) solid;
	}
	
	.bigpics>.img_post{
		width: 100%;
		border: none;
	}
	
	

	.bigpics>p{
		width: auto;
		padding: 0px 20px;
		padding-bottom: 20px;
		font-size: 1em;
	}

}


